<%- include("header") -%>
<h1>This the About Page OF the Do To List of Maka Foundation</h1>
<p>Always life is about consistency and determination</p>
<p>We all have to keep on striving because there is no life with out adversity 
<br />And we to keep in mind that life is like a box of chocolate you never know what you gonna get out of it</p>
<%- include("footer")-%>
