</body>
<footer>
    <script src="https://kit.fontawesome.com/2eb4f48429.js" crossorigin="anonymous"></script>
    Copyright © Maka. Made with <i class="fa-solid fa-heart"></i> by Maka Armah
</footer>
</html>